html{margin:0;
}

body{
 margin:0;
background-color:white;
color:black;
background-repeat:repeat-x;
background-repeat:repeat-y;
}

#head{
width:900px;
height:180px;
background-image:url(./images/middle_banner.gif);
border:1px solid #89D7FD;

border-radius: 15px ;
margin:0px auto 5px;

}

#head-title{
width:80%;
height:40%;
margin:50px auto auto 50px;
color:black;
position: relative; 
z-index: 2;
color:black;
font-size:44px;
float:left;

}

#outerDiv2{
width: 900px;
height:700px;
background-color:#89D7FD;
border:1px solid #89D7FD;
margin:auto;
border-radius: 15px ;
}

#main{

float:left;
background-color:#EAF7FF;
overflow:auto;
width:600px;
height:600px;
margin:25px 40px;
font-size:20px;
border:solid  #89D7FD thick;
}

#main a{
text-decoration:none;
border: 1px solid #EAF7FF;
margin:0;
font: 20px "Lucida Sans","Trebuchet MS",Verdana,Arial,Sans-Serif;
font-weight: bold;
padding:25;
display: block;
color:black;
}
#main  a:hover{
    background-color: #89D7FD;
	opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}

#commentWrapper { 
  float:left;
  width:120px;
  position:relative;
  z-index:2;
}

.float{
    margin:5px auto;
    float:left;
    width:150px;
    
}
.float a{
text-decoration:none;
    font: 12px "Lucida Sans","Trebuchet MS",Verdana,Arial,Sans-Serif;
    color: black;
    font-weight: bold;
    padding:5px;
    display: block;
    text-align: center;
     height: 100px;
     border: 1px solid #666;
    border-radius: 25px ;
    
}
.float a:hover{
	border: 1px solid buttonface;
	border-radius: 15px ;
}
.float img{
    width:110px;
    height:90px;
}

.submit input
{
color: darkblue;
background: #CCCCCC;
border: 2px outset #d7b9c9;

   background: url("images/login.gif") no-repeat scroll center center transparent;
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 20px;
    text-decoration: none;
    width: 99px;
	text-align:right;
	
}
.login-input {
color:black;
font-size:30px;
}

.login-input table{
margin:25 0 20 0;
color:black;
font-weight: bold;
font-size:22px;
}
.login-input input{
background-color:white;
padding:0 3;
width:200px;
height:27;
font-size:16px;
}
legend
{
color: lightblue;
#background: #ffa20c;
#background: #EEEE66;
background: darkblue;
border: 2px solid darkblue;
padding: 2px 6px;
}
fieldset
{
border: 1px solid #781351;
width: 400px;
margin:50 auto;
background: #D9F1FF;
}
#reading{
    width:1000px;
}